:root {
	/* --color1: #0d5ac5; */
	--color1: #110ec8;
	--color2: #5f90cd;
	--color3: #f5f5fe;
	--color4: #17171a;
	--color5: #fefdfd;
	--color6: #fffaff;
	--color7: #0a1362;
	--color8: #fdfbff;
	--color9: #0f0da1;



	--font_body: 0.9rem;
	--article-font: 1rem;

	--font_icon: 1.3rem;
	--font-heading-1: 2.4rem;
	--font-heading-2: 2.7rem;
	--font-heading-3: 1.1rem;
}
