.detail-container {
	margin: 2rem 5rem;
	padding: 0.75rem,
}

.detail-container .info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.5rem 0;
}

.detail-container .breadcumb {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}

.detail-container .breadcumb a {
	font-size: 1rem;
	color: var(--color1);

}

.detail-container .breadcumb i {
	margin: 0.25rem;
	font-size: 0.8rem;
	color: var(--color1);
}


.detail-container .headlines {
	display: flex;
	justify-content: space-between;
}


.detail-container .categories .cat-box {
	padding: 0.75rem 1rem;
	background-color: var(--color5);
	font-size: 1rem;
	font-weight: 300;
	border-radius: 0.25rem;
	/* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}

.detail-container .categories .cat-box:hover {
	background-color: var(--color1);
	color: var(--color3);
}

.detail-container .raw {
	/* display: flex; */
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;
	border-radius: 0.5rem;
}

.detail-container .raw .detail-col {
	flex: 9;
	padding: 1rem;
	margin-right: 0.5rem;
}

.detail-container .raw .detail-col article {
	font-weight: 300;
}

.detail-container .raw .detail-col h2 {
	font-size: 1.8rem;
}

.detail-container .raw .detail-col .review {
	margin: 1rem 0;
}

.detail-container .detail-col .image-box img {
	max-width: 100%;
	height: 400px;
	object-fit: cover;
	margin-bottom: 1rem;
}


.detail-container .detail-col article {
	font-size: var(--article-font);
	line-height: 2rem;
	margin: 3rem 0;
}

.detail-container .detail-sidebar {
	padding: .5rem;
	flex: 3;
	justify-content: center;
	/* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}

.detail-sidebar .owner {
	display: flex;
	align-items: center;
}

.detail-sidebar .owner img {
	width: 85px;
	height: 75px;
	border-radius: 50%;
	margin-bottom: 0.75rem;
}

.detail-sidebar .owner i {
	color: var(--color1);
	margin-right: 0.25rem;
}

.detail-sidebar p {
	padding: 0.5rem;
	text-align: center;
	margin-bottom: .75rem;
}

.detail-sidebar .contact {
	padding: 0.5rem;
	display: flex;
	font-size: 0.8rem;
}

.detail-sidebar .contact a {
	margin: .5rem;
	display: flex;
	align-items: center;
	padding: 0.75rem 1rem;
	background-color: var(--color1);
	color: var(--color5);
}

.detail-sidebar .contact a:hover {
	background-color: var(--color7);
}

.detail-sidebar .contact i {
	font-size: var(--font_icon);
	color: var(--color5);
	margin-right: .5rem;
}


/* User Review */

.review-container .user {
	display: flex;
	align-items: center;
}


.review-container .review {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.review-container .user {
	margin-right: .5rem;
}

.review-container .user img {
	width: 60px;
	height: 50px;
	border-radius: 50%;
}

.review-container blockquote {
	text-align: center;
	font-weight: 300;
	font-size: 1rem;
}

.similar-articles {
	margin-top: 5rem;
}

.similar-articles .card {
	width: 280px;
}

.similar-articles img {
	max-width: 100%;
	margin-bottom: 0.75rem;
}