/* Global Styles */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: var(--color4);
}

h1,
h2,
h3,
h4,
h5,
h6,
.tags span {
	font-family: 'Lexend Deca', sans-serif;
}

i {
	font-size: var(--font-heading-3);
}

body {
	background-color: #f5f5f5;
	font-family: 'Open Sans', sans-serif;
	/* font-family: 'Lato', sans-serif; */
	/* font-family: 'Roboto', sans-serif; */
	font-size: var(--font_body);
}

h2 span {
	color: var(--color1);
}


img {
	border-radius: 1.5rem;
}

a {
	text-decoration: none;
}

header a {
	font-weight: 300;
	padding-bottom: 18px;
}

header a:hover {
	color: var(--color1);
	border-bottom: 2px solid var(--color1);
}
.navbar .nav-logo img {
	height: 40px;
	width: 40px;
}
.content-layout .container {
	padding: 2rem 0 6rem;
}

.btn-booking a {
	padding: 0.5rem 0.75rem;
	border:1px solid var(--color1);
	border-radius: 1.75rem;
}

.btn-booking a:hover {
	background-color: var(--color1);
	color: var(--color3);
}

.btn-booking a i {
	margin-right: 3px;
}

.btn-booking a:hover i {
	color: var(--color3);
}

ul {
	list-style: none;
}

.content-layout {
	padding: 0.25rem 8rem;
	margin: 0 auto;
	max-width: 1400px;
}

.title {
	margin: 3rem 0 4rem;
}

.title h2 {
	font-size: var(--font-heading-2);
	text-align: center;
}

.tags {
	padding: 0.5rem 0;
	display: flex;
	gap: 1rem;
}

.tags span {
	background-color: var(--color3);
	color: var(--color1);
	font-size: 0.75rem;
	padding: 0.15rem 0.5rem;
	border-radius: 0.25rem;
}

 .tags span:hover{
	background-color: var(--color1);
	color: var(--color3);
}


/* ------------- Header Styles ------------ */
.navbar {
	height: 60px;
	font-family: 'Lexend Deca', sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .nav-logo h1 {
	font-weight: 700;
	font-size: 1.4rem;
	color: var(--color1);
}

.nav-cat-dropdown {
	position: relative;
	display: inline-block;
	padding-right: 1.75rem;
}

.nav-cat-dropdown .dropdown-link {
	margin: .75rem 0;
}

.nav-cat-dropdown .dropdown-link > i {
	padding: 0 0.2rem;
}

.nav-cat-dropdown .dropdown-content {
	display: none;
	position: absolute;
	top: calc(100% + 17px);
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 100;
	left: -20px;
	border-radius: .25rem;
}

.nav-cat-dropdown .dropdown-content .cat-drop {
	width: 700px;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-self: center;
	padding: 1rem 1rem 3rem;
}

.nav-cat-dropdown .dropdown-content .drop-user {
	width: 160px;
}

.nav-cat-dropdown .dropdown-content li {
	padding: 1rem 1.5rem;
	color: var(--color4);
}

.nav-cat-dropdown.open .dropdown-content {
	display: block;
}

.nav-container {
	display: flex;
}

.navbar .nav-links {
	display: flex;
	justify-content: space-between;
}

.navbar .nav-links li {
	padding: 0 0.75rem;
}

.navbar .nav-user {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .nav-user .btn-action {
	margin: 0 .25rem;
	color: #f1f1f1;
}

.navbar .nav-user .nav-user-not-auth a {
	padding: .25rem .75rem;
	border: 1px solid #f1f1f1;
}

.navbar .nav-user .btn-action .btn-2 {
	padding: .5rem;
	background-color: #ffffff;
	color: #111;
	box-shadow: rgba(227, 224, 224, 0.16) 0px 10px 36px 0px, rgba(240, 238, 238, 0.06) 0px 0px 0px 1px;
}

/* Mid Nav & Heading */
.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner .left {
	width: 65%;
	margin-right: 0.5rem;
}

.banner .left h1 {
	padding-bottom: 0.25rem;
	font-size: var(--font-heading-1);
	line-height: 3rem;
	color: var(--color5);
}

.banner .left h1 span {
	padding: .2rem .5rem;
	background-color: #ffffff;
	border-radius: 0.75rem 0.5rem;
}

.banner .left .search {
	margin: 1rem 0;
}

.banner .right-banner {
	width: 35%;
}

.banner .right-banner img {
	max-width: 100%;
	height: 550px;
}

.search form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	padding: .25rem 0 .25rem .25rem;
	max-width: 100%;
	border: 1px solid #dfe0e3;
	border-radius: 0.25rem;
	background-color: var(--color3);
}

.search form .box {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	width: 100%;
}

.search form input {
	border: 1px solid #111;
	width: 100%;
	border: none;
	height: 40px;
	padding: 0.5rem;
	font-family: inherit;
	background-color: inherit;
	outline: none;
}

.search button {
	padding: 0.75rem 1rem;
	background: var(--color1);
	color: var(--color5);
	border: none;
	cursor: pointer;
}


/* Footer  */

footer {
	background-color: var(--color4);
	padding-top: 3rem;
	padding-bottom: 2rem;
}

footer .container .raw {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

footer .container h3 {
	font-size: var(--font-heading-3);
	margin-bottom: 1rem;
	color: var(--color5);
}

footer .container .box {
	padding-bottom: 2rem;
}

footer .container .box i {
	font-size: 1rem;
	margin: 0.25rem 0.25rem 0 0;
	color: var(--color1);
}

footer .container .box li,
footer .container .box li a {
	color: var(--color5);
	font-weight: 300;
	padding: 0.25rem 0;
}

footer .container .box li a:hover {
	color: var(--color1);
}

footer .container .copyright {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 1rem;
	border-top: 1px solid #d5d5d5;
	font-weight: 300;
}

footer .container .copyright .text {
	color: var(--color5);
}

footer .container .copyright .social i {
	font-size: 1.3rem;
	color: var(--color6);
	margin: 0 0.1rem;
}

footer .container .copyright .social i:hover {
	color: var(--color1);
}


/* Services Page */

.recommended-container .searchBar {
	padding: 0 .5rem 2rem;
}